body {
    background-color: aqua;
    display: flex;
    padding: 0;
    margin: 0;
}

.left {
    height: 100vh;
    flex: 1;
    background-color: black;
    padding: 0;
    margin: 0;
    background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg"); 
  background-size: cover; 
  background-position: center;
}

.left img {
    height: 100%;
    object-fit: cover
}

.right {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 2;
    background-color: white;
    

}

.intro {
    flex: 1;
    margin-top: 20%;
    background-color: blueviolet;
}

.signup {
    flex: 1;
    background-color: rgb(125, 226, 43);
}
.send {
    flex: 1;
    background-color: rgb(226, 141, 43);
    margin-bottom: 20%;
}